
  .header {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: 0.4s;

    &_top {
      display: flex;
      flex-direction: row;
      align-content: space-between;

    }

    &_bottom {
      display: flex;
      flex-direction: row;
      align-content: space-between;
    }
  }

  
    
  