* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  color: #000;
  text-transform: inherit;
  text-decoration: none;
   }

a:hover,
a :focus {
  text-decoration: none;
 
  box-shadow: none;
  color: #000;
}
a:focus {
  outline: 0 solid;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.4;
  font-family: barlow condensed, sans-serif;
  color: #10012a;
}
body {
  font-size: 16px;
  line-height: 26px;
  font-family: nunito, sans-serif;
  font-weight: 400;
  color: #555;
}
p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
}
select {
  cursor: pointer;
  appearance: none;
  background-image: url(../src/assets/img/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 94% 50%;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-75 {
  padding-top: 75px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-90 {
  padding-top: 90px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-110 {
  padding-top: 110px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-130 {
  padding-top: 130px;
}
.pt-140 {
  padding-top: 140px;
}
.pt-150 {
  padding-top: 150px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-75 {
  padding-bottom: 75px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-130 {
  padding-bottom: 130px;
}
.ptb-10 {
  padding-bottom: 10px;
  padding-bottom: 10px;
}
.ptb-20 {
  padding-bottom: 20px;
  padding-bottom: 20px;
}
.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ptb-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mmt-25 {
  margin-top: -25px !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.z-0 {
  z-index: 0;
  position: relative;
}
#message {
  padding: 0;
  margin: 0;
}
.list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-style li {
  list-style: none;
}

.circle,
  .btn.style1 i,
  .btn.style2 i,
  .btn.style6 i,
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .social-profile.style1 li a,
  .social-profile.style2 li a,
  .social-profile.style3 li a,
  .social-profile.style4 li a,
  .shopcart span,
  .search-area,
  .contact-widget .contact-icon,
  .contact-widget .contact-info span.contact-icon,
  .page-navigation .page-nav li a,
  #hero-thumbs .item .hero-thumb-item span,
  .category-card .cat-icon,
  .service-card .service-icon,
  .case-card .case-img .case-info-wrap .read-more,
  .team-card.style1 .member-info-wrap .member-social-profile span,
  .promo-video .video-play,
  .product-card .product-info .product-info-right .add-to-cart,
  .product-quantity .qtySelector span,
  .project-desc .project-metainfo li,
  .btn.style1,
  .btn.style2,
  .btn.style3,
  .btn.style4,
  .btn.style5,
  .btn.style6,
  .header-wrap .header-top .header-top-left,
  .header-wrap .header-top .header-top-right,
  .header-wrap .header-bottom .header-bottom-right,
  .select-lang .navbar-language .dropdown-toggle,
  .new-product-item,
  .hero-tablist-wrap,
  .about-wrap.style3 .about-content .ceo-message,
  .case-card .case-img .case-info-wrap,
  .counter-card.style1,
  .blog-card .blog-info .blog-metainfo .blog-author-info,
  .blog-card.style3 .blog-info .blog-metainfo,
  .post-navigation,
  .author-info-wrap,
  .author-info-wrap .author-info,
  .cart-table table tbody tr td .cart-item,
  .cart-total .cart-total-item,
  .team-card.style1 .member-info-wrap,
  .blog-card .blog-info .blog-metainfo,
  .product-card .product-info,
  .checkout-details .bill-item,
  .about-wrap.style3 .counter-box,
  .blog-card.style2 .blog-info .blog-metainfo .blog-author-info,
  .page-navigation .page-nav,
  .why-choose-wrap.style3 .brand-logo,
  .product-tablist,
  .newsleter-wrap .newsletter-form,
  .comment-item,
  .comment-author_info,
  .post-author,
  .checkout-details .select-payment-method,
  .footer-widget-wrap {
     display: flex;
     flex-wrap: wrap;
  }